{% extends "adminbase.html" %}

{% block content %}
    <h1>Edit Item!</h1>
    {% if error %}
        <p>Sorry, an error has occurred. Try again. If the problem persists, please check the backend for troubleshooting.</p>
    {% else %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.productName.label }}<br>
                {{ form.productName(size=32) }}<br>
                {% for error in form.productName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.productPrice.label }}<br>
                {{ form.productPrice(size=32) }}<br>
                {% for error in form.productPrice.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.productDesc.label }}<br>
                {{ form.productDesc(size=32) }}<br>
                {% for error in form.productDesc.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.productCat.label }}<br>
                {{ form.productCat(size=32) }}<br>
                {% for error in form.productCat.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
{% endblock %}