{% extends "adminbase.html" %}

{% block content %}
    <h1>Edit User!</h1>
    {% if error %}
        <p>Sorry, an error has occurred. Try again. If the problem persists, please check the backend for troubleshooting.</p>
    {% else %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.about.label }}<br>
                {{ form.about(size=32) }}<br>
                {% for error in form.about.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
{% endblock %}