{% extends "adminbase.html" %}

{% block content %}
    <h1>Admin Management</h1>
    <table>
        <th>Username: </th>
        {% for users in data %}
        <tr>
            {% for user in users %}
                <td>{{user}}</td>
            {% endfor %}
            <td><button id="{{users[0]}}" onclick="sendID(id)">Edit</button></td>
            <td><button id="{{users[0]}}" onclick="sendOverID(id)">Delete</button></td>
        </tr>
        {% endfor %}
        <td><a href="/addAdmin"><button>Add User</button></a></td>
    </table>

    <script>
        function sendID(id){
            window.location.href = `/editadmin?adminid=${id}`
        }
        function sendOverID(id){
            window.location.href = `/deleteadmin?adminid=${id}`
        }
    </script>

{% endblock %}