{% extends 'base.html' %}

{% block content %}
<link rel=stylesheet href="../static/css/home.css" type='text/css'>

<h1 style="margin-left: 2%;">Search Results of {{ query }}</h1>

<div class='container-fluid' style="padding-left: 2%; padding-right: 2%;">
    <div class=row>
        {% for listing in listings %}
        <div class = "col-md-3 col-sm-4">
            <div class="card">
                <img src={{ listing[4] }} alt={{ listing[1] }} style="width:100%">
                <a href=/product/{{ listing[0] }}>
                  <div class="link">
                       <h3>{{ listing[1] }}</h3>
                  </div>
                </a>
                <p class="price">${{ listing[2] }}</p>
                <a href=/product/{{ listing[0] }} class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if empty == True %}
<p>No results found</p>
{% endif %}

{% endblock %}